#app {
  height: 100%;
}
html,
body {
  /* position: relative; */
  /* height: 100%; */
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tradingview-widget-copyright{
  display: none;
}

.stockDetail{
  background-image: url("https://img7.mynet.com/finans/anlikborsa/finans-2023-banner-min-1.png");
  height: 15rem;
  width: 19.5rem;
  background-position: center;
  background-size: cover;
  /* position: sticky; */
  top: 100px;
}

.bigpara-banner-web{
  display: none;
}
.mytest {
  background-color: rgba(17, 17, 17, 0.7);
  color: white;
	position: absolute;
  width: 100%;
	top: 24rem;
  min-height: 5rem;
	/* left: 30px; */
	z-index: 10000;
  text-align: center;
}

.stickSidebar{
  position: sticky;
  top: 100px;
}

table td{
  font-size: 14px;
  color: #131722;
  font-weight: lighter;
}
th{
  color: black;
  font-weight: 700 !important;
}


@media screen and (min-width: 300px) and (max-width: 576px){

  .capacity{
    font-size: .7rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

  
}
@media only screen and (min-width: 768px) and (max-width: 992px)  {

  
}
@media only screen and (min-width: 992px) and (max-width: 1200px)   {

  
}
@media only screen and (min-width: 1200px)  and (max-width: 1400px)  {
  .list-group2{
    flex-direction: row !important;
    /* background-color: palegoldenrod; */
  }
 
}

.stock-table{
  font-size: 1.5rem;
}
.stock-table td:first-of-type{
  color: green;
  vertical-align: center;
}
.stock-table td{
  font-size: 1.5rem;

}