/* * {
  background-color: rgba(218, 212, 212, 0.998);
} */

body {
  margin: 0;
  padding: 0;
  /* background-color: #F4F5F4 !important; */
  box-sizing: border-box;
  min-height: 100vh !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

th {
  font-weight: 500;
}

a {
  font-size: 1.1rem !important;
  text-decoration: none !important;
}

.nav-item {
  margin-right: 1rem;
}

ul {
  list-style-type: none;
}

.fa-play {
  transform: rotate(-90deg);
  color: #5fffa3;
  margin-right: 0.7rem;
}

.stickyDiv {
  height: 15rem;
  width: 15rem;
  background-image: url("https://img7.mynet.com/finans/anlikborsa/finans-2023-banner-min-1.png");
  background-position: center;
  background-size: cover;
  position: sticky;
  top: 100px;
}
/* 
.deneme2 {
  position: relative;
} */

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #deeef4;
}

.mySwiper {
  /* margin: 0 auto !important; */
}

.allStocks {
  margin: 0 auto !important;
}

.bist100 {
  color: #131722 !important;
}

nav ul li a {
  color: #131722 !important;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif !important;
  /* font-weight: bolder !important; */
  letter-spacing: 0.4px;
  color: #1e53e5 !important;
}

nav ul li {
  padding: 0 0.5rem;
  border-radius: 1.3rem;
}

.news .list-group-item {
  border: none !important;
  font-size: 1.5rem;
}

nav ul li:hover {
  background-color: #e3effd !important;
  color: #1e53e5 !important;
  border-radius: 1.3rem;
  transition: 1s;
}

a {
  /* font-weight: 500 !important; */
  color: #131722 !important;
}

#basic-nav-dropdown {
  color: #1e53e5 !important;
  background-color: #e3effd !important;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.main-bg {
  background-color: #e3effd !important;
}

.main-color {
  color: #1e53e5 !important;
}

.capacity {
  margin-top: 1rem !important;
}

.title {
  border: 5px solid #3982E5;
  border-top: none;
  border-right: none;
  padding-left: 1rem !important;
  border-width: .2rem;
  display: inline-block;
  padding: 0 0 0.7rem 0;
  /* border-radius: 2rem; */
  margin-top: 3rem;
  line-height: 1.5rem;
}
h1 {
  font-family: "Hind Siliguri", sans-serif !important;
}

#slider-bg {
  position: relative;
  cursor: pointer;
}


#slider-bg:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(14, 17, 24, 0.85)
  );
}

.carousel-inner {
  position: relative;
}

.carousel-item::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(7, 9, 11, 0.85)
  );
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  z-index: 3;
  text-align: left;
}

.tradingview-widget-copyright{
  display: none !important;
}

.carousel-title{
  font-size: 2rem !important;
}

@media screen and (min-width: 300px) and (max-width: 576px){

  .carousel-caption{
    margin: 0 !important;
  }
  .carousel-title{
    font-size: .9rem !important;
  }
 
 
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  
  
}
@media only screen and (min-width: 768px) and (max-width: 992px)  {

  
}
@media only screen and (min-width: 992px) and (max-width: 1200px)   {

  
}
@media only screen and (min-width: 1200px)  and (max-width: 1400px)  {

 
}

.comments{
  border-bottom: 1px solid rgb(229, 231, 235);
  margin-bottom: 1rem;
}

.comment-avatar p{
  padding: 0 1rem;
}
.comment-avatar p:first-child{
  background-color: #CB313D;
  color:white;
  padding: .3rem .7rem;
  border-radius: 50%;
  text-transform: uppercase;
}

.comments{
  display: inline-block;
  margin-left: 2rem;
  color: rgb(107, 114, 128);
}

.subComment{
  margin-left: 3rem;
}

.stickSidebar{
  position: sticky !important;
  top: 100px;
}