body{
    background-color: #f2f2f2 !important;
}

th{
    font-weight: 500;
}

a{
    font-size: 1.1rem !important;
    text-decoration: none !important;
}

.nav-item{
    margin-right: 1rem;
}

ul{
    list-style-type: none;
}

.fa-play{
    transform: rotate(-90deg);
    color: #5FFFA3;
    margin-right: .7rem;
}